<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.site.controllers.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <display-name>site</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.site.controllers.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProduit</display-name>
    <servlet-name>DeleteProduit</servlet-name>
    <servlet-class>com.site.controllers.produits.DeleteProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduit</servlet-name>
    <url-pattern>/deleteproduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreerProduit</display-name>
    <servlet-name>CreerProduit</servlet-name>
    <servlet-class>com.site.controllers.produits.CreerProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerProduit</servlet-name>
    <url-pattern>/creerproduit</url-pattern>
  </servlet-mapping> 
  <servlet>
    <description></description>
    <display-name>ListerProduit</display-name>
    <servlet-name>ListerProduit</servlet-name>
    <servlet-class>com.site.controllers.produits.ListerProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListerProduit</servlet-name>
    <url-pattern>/listerproduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierProduit</display-name>
    <servlet-name>ModifierProduit</servlet-name>
    <servlet-class>com.site.controllers.produits.ModifierProduit</servlet-class>
  </servlet>

<!--   <servlet>
    <description></description>
    <display-name>CreerCategorie</display-name>
    <servlet-name>CreerCategorie</servlet-name>
    <servlet-class>com.site.controllers.categorie.CreerCategorie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerCategorie</servlet-name>
    <url-pattern>/creercategorie</url-pattern>
  </servlet-mapping> -->
  <servlet>
    <description></description>
    <display-name>ModifierCategorie</display-name>
    <servlet-name>ModifierCategorie</servlet-name>
    <servlet-class>com.site.controllers.categorie.ModifierCategorie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierCategorie</servlet-name>
    <url-pattern>/modifiercategorie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListerCategorie</display-name>
    <servlet-name>ListerCategorie</servlet-name>
    <servlet-class>com.site.controllers.categorie.ListerCategorie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListerCategorie</servlet-name>
    <url-pattern>/listercategorie</url-pattern>
  </servlet-mapping>
</web-app>